html{
    font-size: 62.5%;
    font-family: sans-serif;
    display: block;
}
head{
    display: none;
}
script{
    display: none;
}
body{
    padding: 70px 0 20px 0;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
    margin: 0;
    display: block;
}
@media (max-width: 767px)
.hidden-xs {
    display: none;
}
.navbar-inverse {
    background: #13133e;
    border-color: #090909;
}
.hidden-xs {
    display: none;
}
.visible-xs{
    display: block;
}
.navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top,.navbar-fixed-bottom{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar{
    min-height: 50px;
    min-height: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container>.navbar-header,.container>.navbarcollapse, .container-fluid>.navbar-header,.container-fluid>.navbar-collapese{
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}
.row {
    margin-left: -15px;
    margin-right:-15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header {
    padding-bottom: 0px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 0px;
}
.pull-right {
    float: right;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
}
.checkbox-button .btn {
    -webkit-border-radius: 6px;
    display: block;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    text-align: left;
    width: 100%;
}
.page-header h1, .page-header h2, .page-header h4 {
    margin-top: 0;
}
h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: 0.67em 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
form {
    display: block;
    margin-top: 0em;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
label {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.form-group {
    margin-bottom: 15px;
}
.checkbox-button {
    display: inline-block;
}
.checkbox-button .btn {
    -webkit-border-radius: 6px;
    display: block;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    text-align: left;
    width: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
input[type='checkbox'] {
    cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-block {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
a {
    color: #428bca;
    text-decoration: none;
}
a {
    background: transparent;
}
#login-art .thumbnail {
    margin-bottom: 5px;
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    margin-top: 13px;
}
img {
    vertical-align: middle;
}
.col-sm-4 {
    width: 33.3333333333%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.col-sm-9 {
    width: 75%;
}
col-sm-12 {
    width: 100%;
}
.form-horizontal .control-label {
    text-align: right;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
#login-form {
    padding-right: 0;
}
.col-sm-8 {
    width: 66.6666666667%;
}
#footer a {
    color: #666;
}
.col-sm-2 {
    width: 16.6666666667%;
}
.col-sm-6 {
    width: 50%;
}
#signup-form .checkbox {
    padding-top: 0;
}

.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 27px;
}
label {
    display: inline;
    font-weight: normal;
    cursor: pointer;
}
.col-sm-offset-2 {
    margin-left: 16.6666666667%;
}
.col-sm-8 {
    width: 66.6666666667%;
}
.btn-lg, .btn-group-lg>.btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.col-sm-offset-4 {
    margin-left: 33.3333333333%;
}